.entryPanel {
  // 画像が左、テキストが右
  display: flex;
  // 画像とテキストは垂直中央揃え
  align-items: center;

  &__main {
    display: flex;
    // 縦方向に均等配置
    justify-content: space-between;
    // 高さいっぱいに要素を広げる
    align-self: stretch;
    flex: 1 1 55%;
    flex-direction: column;
    padding: 20px 0
  }

  &__head {
    // 文字の大きさなどを調整
    font-weight: bold;
    font-size: 16px;
  }

  &__body {
    margin-top: 10px;
    font-size: 14px;
  }

  &__foot {
    // READ MOREボタンの位置を修正
    margin-top: 10px;
    text-align: right;
  }
}
